---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const tituloPagina = "Sobre mi";

const fechaActual = new Date();
const cumpleaños = new Date(2002, 6, 26);
let age = fechaActual.getFullYear() - cumpleaños.getFullYear();
const noCumpleaños = fechaActual.getMonth() < cumpleaños.getMonth() || (fechaActual.getMonth() === cumpleaños.getMonth() && fechaActual.getDate() < cumpleaños.getDate());

if(noCumpleaños){
	age--;
}
const identify = {
    firstName: "Yerri",
    country: "Peru",
    occupation: "Developer",
    hobbies: ["futbol", "box", "musica", "ejercicio", "💻 Crear proyectos web", "🍳 Cocinar"],
	yearOld: age
};


const skills = ["HTML", "CSS", "JavaScript", "PHP", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "darkblue";
const fontWeight = "bold";
const textCase = "lowercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ tituloPagina }</title>

		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
        <Navigation />
        <h1> {tituloPagina}</h1>
        <h2>... ¡y mi nuevo sitio Astro!</h2>

        <p>Estoy trabajando en el tutorial introductorio de Astro. Este es la segunda página de mi sitio web, ¡y es la primera he construido yo mismo!</p>

        <p>Este sitio se irá actualizando a medida que vaya completando más partedes del tutorial, ¡así que no dejes de visitarlo para ver cómo va miviaje!</p>

        <h3>Estos son algunos datos sobre mí:</h3>
        <ul>
            <li>Me llamo {identify.firstName}, tengo {identify.yearOld} años.</li>
			<li>Vivo en {identify.country} y trabajo como {identify.occupation}</li>
			{identify.hobbies.length >= 2 && 
				<li> Dos de mis aficiones son: {identify.hobbies[0]} y {identify.hobbies[1]}</li>
			}
			<li>Mis pasatiempos son: 
				<ul>
					{identify.hobbies.map(hobby => (
						<li>{hobby}</li>
					))}
				</ul>
			</li>
        </ul>

		<p>Mis habilidades son:</p>
		<ul>
			{skills.map(skill => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>¡Estoy feliz de aprender Astro!</p>}
		{finished && <p>¡He terminado este tutorial!</p>}
		{goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p> Mi objetivo no son 3 días.</p>}

		<Footer />
	</body>
</html>
